things_dont_upload/*
outputs/*



multimodel-pruning/model_finetune2/*
multimodel-pruning/model_prune/*
multimodel-pruning/model_finetune/*
multimodel-pruning/bytedance/*
multimodel-pruning/InitExp/*
multimodel-pruning/model_baseline/*
multimodel-pruning/multimodel_mask/*
multimodel-pruning/onnx/*

sanity-checking-pruning/model_baseline/*
sanity-checking-pruning/model_finetuned/*
sanity-checking-pruning/model_prune/*
sanity-checking-pruning/data/*

DiSparse-Multitask-Model-Compression/pretrained_models/*
DiSparse-Multitask-Model-Compression/baseline/*
DiSparse-Multitask-Model-Compression/pruning/*
DiSparse-Multitask-Model-Compression/finetune/*
DiSparse-Multitask-Model-Compression/logs/*
DiSparse-Multitask-Model-Compression/__pycache__/*

TreeMTL/outputs/*
TreeMTL/__pycache__/*
TreeMTL/main/__pycache__/*
TreeMTL/main/trainer.py
TreeMTL/main/__pycache__/*
TreeMTL/*/__pycache__/*
TreeMTL/logs/*
TreeMTL/scripts/*

STR/runs/*
snip/*
